<style [src]="./emp-model-prasentation.scss"></style>

<div class="form-style-9">
    <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <ul>
            <li>
                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="errors">

                    <div *ngIf="f.name.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="f.name.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>
                </div>
                <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="errors">
                    <div *ngIf="f.email.errors.required">
                        Email is required.
                    </div>
                </div>
                <input type="text" formControlName="name" class="field-style field-split align-left" placeholder="name"
                    required>

                <input type="text" formControlName="email" class="field-style field-split align-left"
                    placeholder="email">
            </li>

            <li>
                <div *ngIf="f.mobile.invalid && (f.mobile.dirty || f.mobile.touched)" class="errors">
                    <div *ngIf="f.mobile.errors.required">
                        Mobile is required.
                    </div>
                </div>
                <input type="text" formControlName="mobile" class="field-style field-split align-left"
                    placeholder="mobile">
            </li>
            <li>
                <h6>Gender</h6>
                <div *ngIf="f.gender.invalid && (f.gender.dirty || f.gender.touched)" class="errors">
                    <div *ngIf="f.gender.errors.required">
                        Gender is required.
                    </div>
                </div>
                <input type="radio" formControlName="gender" name="gender" value="male" checked> Male &nbsp;&nbsp;&nbsp;
                <input type="radio" formControlName="gender" name="gender" value="female"> Female &nbsp;&nbsp;&nbsp;
                <input type="radio" formControlName="gender" name="gender" value="other"> Other

            </li>

            <li>

                <select formControlName="department" class="field-style field-split align-left">
                    <option *ngFor="let item of department" value="{{item}}">{{item}}</option>
                </select>
                <div *ngIf="f.department.invalid && (f.department.dirty || f.department.touched)" class="errors">
                    <div *ngIf="f.department.errors.required">
                        Department is required.
                    </div>
                </div>
                <input type="date" formControlName="hiredate" class="field-style field-split align-left"
                    placeholder="hiredate">
            </li>

            <li>
                <div *ngIf="f.permanent.invalid && (f.permanent.dirty || f.permanent.touched)" class="errors">
                    <div *ngIf="f.permanent.errors.required">
                        Permanent is required.
                    </div>
                </div>
                <input type="checkbox" formControlName="permanent" class="field-style field-split align-left"
                    value="true">Permanent
            </li>
            <li>
                <span (click)="addNewAddress()" style="cursor:pointer;" class="fa fa-plus">Add new
                    Address</span><br><br>

                <div formArrayName="address">
                    <div *ngFor="let comp of empForm.controls.address.controls; let i=index">
                        <h6>address {{i+1}}: </h6>
                        <div [formGroupName]="i">
                            <input formControlName="city" placeholder="city" class="field-style field-split align-left">
                            <input formControlName="zip" placeholder="zip" class="field-style field-split align-left">
                        </div><span (click)="deleteAddress(i)" style="cursor:pointer;" class="fa fa-trash">Delete</span>
                    </div>
                </div>

            </li>
            <li>
                <button type="submit" class="field-style" [disabled]="!empForm.valid">Save</button>
                <button class="field-style" type="reset">Clear</button>
            </li>
        </ul>
    </form>
</div>